@import "../Theme/index.scss";

.text {
  font-family: $font-family;

  &_size {
    &_s {
      @include text-size-s;
    }
    &_m {
      @include text-size-m;
    }
    &_l {
      @include text-size-l;
    }
  }

  &_view {
    &_primary {
      color: $text-color-primary;
    }
    &_secondary {
      color: $text-color-secondary;
    }
  }

  &_italic {
    font-style: italic;
  }
}
