@import "../../Decorators/index.scss";
@import "../Theme/index.scss";

.buttonLink {
  display: inline-block;
  text-decoration: none;
  background-color: $background-dark;
  color: $text-color-white;
  padding: 10px 20px;
  @include border-radius;
  transition: $transition;
  border: $border;
  margin-right: $indent-m;

  &:last-child {
    margin-right: unset;
  }

  &:hover {
    background-color: $background-light;
    color: $text-color-primary;
  }

  &:active {
    transform: scale(0.8);
  }
}
