@import "../Theme/index.scss";

.list {
  list-style-type: none;
  padding-left: 0;
  &_size {
    &_m {
      @include text-size-m;
    }
  }
}

.item {
  position: relative;
  padding-left: $indent-m;
  &::before {
    position: absolute;
    left: 0;
    content: "—";
  }
}
