@import "../../Decorators/index.scss";

.header {
  background-color: rgb(31, 31, 228);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  @include interactive;
}

.links {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  line-height: 62px;
  text-transform: uppercase;
  margin: 0;
  transition: $transition;

  & li {
    padding-left: 10px;
    padding-right: 10px;
    transition: inherit;
    @include interactive;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
